.vscode
Build
Library
Logs
obj
Temp
package
Packages/packages-lock.json
ProjectSettings/*.json
ProjectSettings/*.asset
ProjectSettings/*.config
ProjectSettings/Packages
*.sln
*.csproj
STATES.md
Assets/Gen
Assets/Gen.meta
Assets/XLua/Gen/*Wrap.cs
Assets/XLua/Gen/*Wrap.cs.meta
Assets/XLua/Gen/XLuaGenAutoRegister.cs
Assets/XLua/Gen/XLuaGenAutoRegister.cs.meta
node_modules
UserSettings

